.clock-body-outer-container {
    margin-top: 3rem!important;
    width: 80vw;
    height: calc(80vw);
    background: linear-gradient(-45deg, #2E325A, #0E112A);
    filter: drop-shadow(-3.125rem -3.125rem 6.25rem #272C5A); 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock-body-inner-container {
    width: 89%!important;
    height: 89%!important;
    background-color: $h!important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    h3 {
        color: $d;
        margin-top: 2.5rem!important;
        padding: 0!important;
        font-size: 5rem!important;
        font-weight: 700;
        position: relative;
        height: 5.5rem;
        letter-spacing: 0rem;
        white-space: pre;
    }

    h4 {
        color: $d;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0.8rem!important;
        margin-top: 0rem;
        padding: 0!important;
        letter-spacing: 0.821rem!important;
        font-size: 0.875rem!important;
        font-weight: 700;
        position: relative;
        height: 2.5rem;
        width: 80%;
        transition: .25s!important;
    }

    .progress-bar-container {
        width: 92.88%;
        height: 92.88%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        transform: rotate(-90deg);

        circle {
            position: absolute;
            fill: transparent;
            stroke-width: 3.75%;
            stroke-dasharray: 300%;  
            transition: 0.25s!important;       
        }
    }
    .clock-numbers-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 375px) {
    .clock-body-inner-container {
        h3 {
            margin-top: 12vw!important;
            font-size: 20vw!important;
        }
        h4 {
            margin-top: -2vw!important;
            font-size: 0.75rem!important;
        }
    }
}

@media(min-width: 480px) {
    .clock-body-inner-container {
        h3 {
            margin-top: 3rem!important;
            font-size: 7rem!important;
        }
        h4 {
            margin-top: 3rem!important;
            font-size: 1.25rem!important;
        }
    }
}

@media(min-width: 640px) {
    .clock-body-inner-container {
        h3 {
            margin-top: 3rem!important;
            font-size: 9rem!important;
        }
        h4 {
            margin-top: 6rem!important;
            font-size: 1.5rem!important;
        }
    }
}

@media(min-width: 768px) {
    .clock-body-outer-container {
        margin-top: 6.813rem!important;
        width: 53.38vw;
        height: calc(53.38vw);
    }
    .clock-body-inner-container {
        h3 {
            margin-top: 3.25rem!important;
            font-size: 6.25rem!important;
        }
        h4 {
            margin-top: 2.25rem!important;
            font-size: 1rem!important;
        }
    }
}

@media(min-width: 878px) {
    .clock-body-inner-container {
        h3 {
            margin-top: 3.5rem!important;
            font-size: 7.25rem!important;
        }
        h4 {
            margin-top: 3.5rem!important;
            font-size: 1.25rem!important;
        }
    }
}

@media(min-width: 992px) {
    .clock-body-outer-container {
        margin-top: 5rem!important;
        width: 45vw;
        height: calc(45vw);
    }
    .clock-body-inner-container {
        h3 {
            margin-top: 3.1rem!important;
            font-size: 7rem!important;
        }
        h4 {
            margin-top: 3.25rem!important;
            font-size: 1.1rem!important;
        }
    }
}

@media(min-width: 1200px) {
    .clock-body-outer-container {
        margin-top: 4rem!important;
        width: 35vw;
        height: calc(35vw);
    }
    .clock-body-inner-container {
        h3 {
            margin-top: 3rem!important;
            font-size: 6.5rem!important;
        }
        h4 {
            margin-top: 2.5rem!important;
            font-size: 1.25rem!important;
        }
    }
}

@media(min-width: 1400px) {
    .clock-body-outer-container {
        margin-top: 3rem!important;
        width: 27vw;
        height: calc(27vw);
    }
    .clock-body-inner-container {
        h3 {
            margin-top: 3rem!important;
            font-size: 6.25rem!important;
        }
        h4 {
            margin-top: 2.5rem!important;
            font-size: 1rem!important;
        }
    }
}

