.pointer {
    cursor: pointer!important;
}

.trans-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0000007e;
    z-index: 1;
    transition: .25s!important;
}

.viewport-container {
    background-color: $e!important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.main-container {
    padding: 2rem 1.5rem 3rem!important;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        color: $d;
        font-family: 'Kumbh Sans', sans-serif;
        margin: 0!important;
        padding: 0!important;
        font-size: 1.5rem!important;
        font-weight: 700;
    }
}

.options-container {
    background-color: $h!important;
    margin-top: 2.75rem!important;
    width: 100%!important;
    height: 3.938rem!important;
    border-radius: 1.938rem!important;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

.option-button-container {
    width: 29%!important;
    height: 3rem!important;
    border-radius: 1.5rem!important;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        color: $d;
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 0.75rem!important;
        font-weight: 700;
        margin: 0!important;
        padding: 0!important;
        opacity: .4;
    }
}

.clock-body-outer-container {
    margin-top: 3rem!important;
    width: 80vw;
    height: calc(80vw);
    background: linear-gradient(-45deg, #2E325A, #0E112A);
    filter: drop-shadow(-3.125rem -3.125rem 6.25rem #272C5A);   
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock-body-inner-container {
    width: 89%!important;
    height: 89%!important;
    background-color: $h!important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    h3 {
        color: $d;
        font-family: 'Kumbh Sans', sans-serif;
        margin: 0!important;
        padding: 0!important;
        font-size: 5rem!important;
        font-weight: 700;
        position: absolute;
    }

    .progress-bar-container {
        width: 92.88%;
        height: 92.88%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        transform: rotate(-90deg);

        circle {
            position: absolute;
            fill: transparent;
            stroke-width: 3.75%;
            stroke-dasharray: 300%;
            stroke: $a;          
        }
    }
}

.settings-icon-container {
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 4.875rem!important;
    display: flex;
    justify-content: center;
    align-items: center;

    .settings-icon {
        background-image: url('../../src/assets/icon-settings.svg');
        width: 1.75rem;
        height: 1.75rem;
    }
}


