.options-container {
    background-color: $h!important;
    margin-top: 2.75rem!important;
    width: 100%!important;
    height: 3.938rem!important;
    border-radius: 1.938rem!important;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

.option-button-container {
    width: 29%!important;
    height: 3rem!important;
    border-radius: 1.5rem!important;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        color: $d;
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 0.75rem!important;
        font-weight: 700;
        margin: 0!important;
        padding: 0!important;
        opacity: .4;
    }
    .button-active-text {
        opacity: 1!important;
        color: $e!important;
    }
}

@media(min-width: 768px) {
    .options-container {
        width: 90.75%!important;
    }
}

@media(min-width: 992px) {
    .options-container {
        width: 75%!important;
    }
}

@media(min-width: 1200px) {
    .options-container {
        width: 55%!important;
    }
}

@media(min-width: 1400px) {
    .options-container {
        width: 45%!important;
    }
}