.settings-modal-container {
    position: absolute;
    width: 90%;
    margin-bottom: 2.25rem;
    height: 34.938rem!important;
    background-color: $f;
    z-index: 3;
    border-radius: 1rem!important;
    transition: 0.25s!important;

    .header-container {
        display: flex;
        justify-content: space-between;
        border-bottom: 0.063rem solid $g;
        height: 4.5rem!important;
        width: 100%!important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem 0;
    }

    h4 {
        color: $h;
        font-family: 'Kumbh Sans', sans-serif;
        margin: 0!important;
        padding: 0!important;
        font-size: 1.25rem!important;
        font-weight: 800;
    }

    h5 {
        color: $h;
        font-family: 'Kumbh Sans', sans-serif;
        margin: 0!important;
        padding: 0!important;
        font-size: 0.688rem!important;
        letter-spacing: 0.264rem;
        font-weight: 800;
        margin-bottom: 0.625rem!important;
    }

    p {
        color: $e;
        margin: 0!important;
        padding: 0!important;
        font-size: 0.938rem!important;
        font-weight: 600;
        opacity: 0.75;
    }

    .closing-icon-container {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(0.80rem);
    }

    .closing-icon {
        background-image: url('../../src/assets/icon-close.svg');
        width: 0.875rem;
        height: 0.875rem;
    }

    .margins {
        margin: 1.5rem!important;
    }

    .color-margins {
        margin-top: 0;
        margin-left: 1.5rem!important;
        margin-right: 1.5rem!important;
    }

    .section-settings-container {
        margin: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 0.063rem solid $g;

        .field-side-gap-filler {
            width: 4.5rem!important
        }

        h6 {
            color: $h;
            font-family: 'Kumbh Sans', sans-serif;
            margin: 0!important;
            padding: 0!important;
            font-size: 0.75rem!important;
            font-weight: 800;
            opacity: 0.5;
        }
        .number-row-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 0.5rem!important;
        }
        .number-value-container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            height: 2.5rem!important;
            background: $g!important;
            border-radius: 0.563rem!important;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        }
        .text-field-placement {
            width: 30%!important;
            border: none;
            background: transparent;
            font-family: 'Kumbh Sans', sans-serif;
            margin: 0!important;
            padding: 0!important;
            font-size: 0.875rem!important;
            font-weight: 800;
        }
        .text-field-arrows-container {
            height: 1.313rem!important;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: space-between;
        }
        .text-field-up-icon {
            background-image: url('../../src/assets/icon-arrow-up.svg');
            width: 0.875rem;
            height: 0.45rem;
            position: relative;
        }
        .text-field-down-icon {
            background-image: url('../../src/assets/icon-arrow-down.svg');
            width: 0.875rem;
            height: 0.45rem;
            position: relative;
        }
        .text-field-arrow-filler-up {
            position: absolute;
            width: 2.5rem;
            height: 1.2rem;
            top: -0.65rem;
            left: -0.85rem;
        }
        .text-field-arrow-filler-down {
            position: absolute;
            width: 2.5rem;
            height: 1.2rem;
            top: -0.25rem;
            left: -0.85rem;
        }
        .field-bottom-filler {
            margin-bottom: 1.5rem!important;
        }
        .font-circle-container {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $g;
            margin-top: 0.5rem;
        }
    }
    .section-font-container {
        margin: 1.5rem;
        padding-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 0.063rem solid $g;

        .font-circle-container {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $g;
            margin-top: 0.5rem;
        }
        .f1 {
            p {
                font-family: 'Kumbh Sans', sans-serif;
            }
        }
        .f2 {
            p {
                font-family: 'Roboto Slab', serif;
            }
        }
        .f3 {
            p {
                font-family: 'Space Mono', monospace;
            }
        }
        .active-font {
            background: $h!important;
            p {
                color: $f!important;
                opacity: 1!important;
            }
        }
    }
    .section-color-container {
        margin: -0.5rem 1.5rem 0.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .circle-container {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .c1 {
            background: $a;
        }
        .c2 {
            background: $b;
        }
        .c3 {
            background: $c;
        }
        .circle-checked {
            background-image: url('../../src/assets/icon-check.svg');
            width: 0.938rem;
            height: 0.688rem;
        }
    }
    .apply-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%!important;
        height: 3.313rem!important;
        border-radius: 1.688rem!important;
        background: $a!important;
        transform: translateY(50%);

        p {
            color: $f;
            font-family: 'Kumbh Sans', sans-serif;
            margin: 0!important;
            padding: 0!important;
            font-size: 1rem!important;
            font-weight: 800;
            opacity: 1;
        }
    }
}

@media(min-width: 576px) {
    .settings-modal-container {
        width: 80%!important;
        height: 35rem!important;
        border-radius: 1.625rem!important;
    }
}

@media(min-width: 768px) {
    .settings-modal-container {
        width: 71.905%!important;
        height: 29rem!important;
        border-radius: 1.625rem!important;

        h4 {
            font-size: 1.75rem!important;
        }

        .header-container {
            height: 5.813rem!important;
            padding: 0 2.5rem 0;
        }
        .section-settings-container {
            margin: 1.5rem 2.5rem 0!important;
            align-items: flex-start;

            h5 {
                font-size: 0.813rem!important;
            }
            .time-heading-adjust {
                font-size: 0.813rem!important;
                margin-bottom: 1rem!important;
            }
        }
        .number-row-container {
            align-items: flex-start!important;
        }
        .number-value-container {
            width: 100%!important;
            height: 2.5rem!important;
        }
        .w-32 {
            width: 32%!important;
        }
        .section-font-container {
            margin: 0 2.5rem 0!important;
            padding-bottom: 1.5rem;
            padding-top: 1rem;
            padding-left: 0!important;
            padding-right: 0!important;

            h5 {
                margin-bottom: 0!important;
                font-size: 0.813rem!important
            }
        }
        .section-color-container {
            margin: 0 2.5rem 0!important;
            padding-bottom: 1.5rem;
            padding-top: 1rem;
            padding-left: 0!important;
            padding-right: 0!important;

            h5 {
                margin-bottom: 0!important;
                font-size: 0.813rem!important
            }
        }
        .apply-button-container {
            width: 25%!important;
            height: 3.313rem!important;
            border-radius: 1.688rem!important;
            background: $a!important;
            transform: translateY(30%);
        }
    }
}

@media(min-width: 878px) {
    .settings-modal-container {
        width: 60%!important;
        height: 29rem!important;
        border-radius: 1.625rem!important;
    }
}

@media(min-width: 992px) {
    .settings-modal-container {
        width: 50%!important;
        height: 29rem!important;
        border-radius: 1.625rem!important;
        margin-bottom: 7rem;
    }
}

@media(min-width: 1200px) {
    .settings-modal-container {
        width: 42%!important;
        height: 29rem!important;
        border-radius: 1.625rem!important;
    }
}

@media(min-width: 1440px) {
    .settings-modal-container {
        width: 33%!important;
        height: 30.625rem!important;
        border-radius: 1.625rem!important;
        margin-bottom: 7rem;

        .apply-button-container {
            width: 25%!important;
            transform: translateY(80%);
        }
    }
}